* {
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif; }

.formulario, .formulario-test {
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.75); }

.segundo, .segundo-test {
  padding: 20px;
  font-size: 20px;
  text-align: center; }

h1 {
  padding-top: 50px;
  color: #5585AD;
  font-size: 35px;
  font-family: 'Merriweather Sans', sans-serif; }

h2 {
  padding: 10px;
  font-size: 30px;
  opacity: 0.9;
  font-family: 'Merriweather Sans', sans-serif; }

.header {
  background-color: #B3B179;
  width: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px; }

.navbottom {
  margin-bottom: auto; }

.header a {
  color: white;
  text-decoration: none; }

.header img {
  width: 220px;
  margin-left: 20px; }

.header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-left: auto;
  width: 450px; }

.header nav li {
  padding: 7px;
  margin: 7px;
  margin: auto;
  width: auto;
  flex-wrap: wrap; }

.header nav ul li:hover {
  background-color: #5585AD;
  border-radius: 30px;
  padding: 7px; }

@media (max-width: 700px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 701px;
    overflow: hidden;
    margin: 0px; }
  .header img {
    margin: 20px; }
  header nav .navbottom {
    width: fit-content; } }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.carousel-inner h1 {
  opacity: 0.85;
  text-align: center;
  margin-bottom: 50px;
  padding: 0;
  font-size: 60PX; }

main section a {
  color: white;
  text-decoration: none; }

.title-reviews {
  text-align: center;
  margin: 100px;
  color: #2a2a2a;
  opacity: 0.9;
  font-size: 45px;
  text-decoration: none; }

.reviews-div {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  margin: 10PX;
  justify-content: space-between;
  align-items: center; }

.img-reviews {
  width: 230px;
  border-radius: 150px; }

.reviews-clients {
  width: 700px; }

@media (max-width: 700px) {
  .carousel-inner {
    max-width: fit-content; }
  .imagen-carousel {
    width: 400px;
    margin-top: 50px; }
  .carousel-inner h1 {
    font-size: 45px;
    padding-top: 40px;
    margin-bottom: 0px; }
  .reviews-div {
    flex-direction: column;
    align-content: center; }
  .reviews-clients {
    width: 375px; }
  .title-reviews {
    margin: 60px;
    font-size: 35px; } }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

main section a {
  color: white;
  text-decoration: none; }

.our-rates {
  font-size: 35px;
  font-weight: 500;
  font-family: 'Merriweather Sans', sans-serif;
  color: #5585AD;
  margin: 30px 0px 40px 0px;
  text-decoration: none; }

.grid-padre {
  text-align: center;
  padding: 7px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "daycare overnight walks" ". drop-in ."; }

.grid-padre div h3 {
  opacity: 0.8;
  text-decoration: none;
  color: #2a2a2a;
  font-family: 'Quicksand', sans-serif;
  font-size: 23px;
  font-weight: 300; }

.pricing-column1 {
  margin: 20px 20px;
  grid-area: daycare; }

.pricing-column1 img {
  width: 200px;
  border-radius: 15px; }

.pricing-column2 {
  margin: 20px;
  grid-area: overnight; }

.pricing-column2 img {
  width: 200px;
  border-radius: 15px;
  margin: 0 25px; }

.img-hover:hover {
  opacity: 0.5; }

.pricing-column3 {
  margin: 20px;
  grid-area: walks; }

.pricing-column3 img {
  width: 220px;
  border-radius: 15px; }

.pricing-column4 {
  margin: 20px;
  grid-area: drop-in; }

.pricing-column4 img {
  width: 230px;
  border-radius: 15px;
  margin-top: 20px; }

/* si mi dispositivo tiene 700 o  menos ...*/
@media (max-width: 700px) {
  .grid-padre {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px; } }

.login-registration {
  margin-bottom: 35px; }

.formulario-test input {
  margin: 12px; }

.formulario-test input[type="text"] {
  padding-left: 5px; }

.formulario-test input[type="email"] {
  padding-left: 5px; }

.formulario-test p {
  font-size: 15px; }
  .formulario-test p a {
    text-decoration: none; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

p {
  margin-top: 50px;
  text-align: left; }

main section a {
  color: white;
  text-decoration: none; }

.segundo-test h2 {
  opacity: 0.8;
  padding: 30px; }

.container-de-acordeon {
  margin-bottom: 60px; }

iframe {
  margin: 55px 0px 0px 15%; }

@media (max-width: 700px) {
  h2 {
    text-align: center; }
  p {
    text-align: center;
    margin: 15px; }
  main section h3 {
    margin-top: 30px; }
  iframe {
    width: auto; } }

.daycare-settings p {
  text-align: left;
  font-size: 20px;
  margin-bottom: 30px;
  margin: 30 auto; }

.daycare-settings li {
  margin-top: 10px;
  font-size: 18px; }

.footer {
  background-color: #B3B179;
  padding: 20px 100px;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 10px; }

.footer-sign-up {
  margin-top: 141px; }

.footer-login {
  margin-top: 275px; }

.footer div a {
  text-decoration: none;
  color: white; }

.footer-daycare {
  margin-top: 285px; }

i {
  font-size: 19px;
  padding: 5px; }

@media (max-width: 700px) {
  * {
    font-size: small; } }
