main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin-top: 50px;
  text-align: left;
}

main {
  section {
    a {
      color: $blanco;
      text-decoration: none;
    }
  }
}

.segundo-test {
  @extend .segundo;

  h2 {
    opacity: 0.8;
    padding: 30px;
    
  }
}

.container-de-acordeon {
  margin-bottom: 60px;
}



@media (max-width: 700px) {
  h2 {
    text-align: center;
  }

  p {
    text-align: center;
    margin: 15px;
  }

  main section h3 {
    margin-top: 30px;
  }

  iframe {
    width: auto;
  }
}