main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin-top: 50px;
  text-align: left;
}

main section a {
  color: white;
  text-decoration: none;
}



.section {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.segundo {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.segundo h2 {
  padding: 30px;
}

.container-de-acordeon {
  margin-bottom: 60px;
}

iframe{
  margin: 55px 0px 0px 10px;
}

@media (max-width: 700px) {
  h3 {
    text-align: center;
  }

  p {
    text-align: center;
    margin: 15px;
  }

  main section h3 {
    margin-top: 30px;
  }

  iframe {
    width: auto;
  }
}