.daycare-settings {
    p {
        text-align: left;
        font-size: 20px;
        margin-bottom: 30px;
        margin: 30 auto;
    }
    li{
        margin-top: 10px;
        font-size: 18px;
    }
}

