.footer {
    background-color: $verde;
    padding: 20px 100px;
    color: $blanco;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.footer-sign-up {
    margin-top: 141px;
}

.footer-login {
    margin-top: 275px;
}

.footer {
    div {
        a {
            text-decoration: none;
            color: $blanco;
        }
    }
}

.footer-daycare {
    margin-top: 285px;
}

i {
    font-size: 19px;
    padding: 5px;
}

@media (max-width: 700px) {
    * {
        font-size: small;
    }
}