.header {
    background-color: $verde;
    width: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.navbottom {
    margin-bottom: auto;
}

.header {
    a {
        color: $blanco;
        text-decoration: none;
    }

    img {
        width: 220px;
        margin-left: 20px;
    }

    nav {
        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            margin-left: auto;
            width: 450px;
        }

        li {
            padding: 7px;
            margin: 7px;
            margin: auto;
            width: auto;
            flex-wrap: wrap;
        }
    }
}

.header {
    nav {
        ul {
            li:hover {
                background-color: $azul;
                border-radius: 30px;
                padding: 7px;
            }
        }
    }
}

@media (max-width: 700px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 701px;
        overflow: hidden;
        margin: 0px;
    }

    .header {
        img {
            margin: 20px;
        }
    }

    header {
        nav {
            .navbottom {
                width: fit-content;
            }
        }
    }
}