main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin-top: 50px;
  text-align: center;
}

main {
  section {
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.our-rates {
  font-size: 35px;
  font-weight: 500;
  font-family: 'Merriweather Sans', sans-serif;
  color: #5585AD;
  margin: 30px 0px 40px 0px;
  text-decoration: none;
}

.grid-padre {
  text-align: center;
  padding: 7px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "daycare overnight walks"
    ". drop-in .";
}

.grid-padre {
  div {
    h3 {
      text-decoration: none;
      color: #2a2a2a;
      font-family: 'Quicksand', sans-serif;
      font-size: 23px;
      font-weight: 300;

    }
  }
}

.pricing-column1 {
  margin: 20px 20px;
  grid-area: daycare;
}

.pricing-column1 {
  img {
    width: 200px;
    border-radius: 15px;
  }
}

.pricing-column2 {
  margin: 20px;
  grid-area: overnight;
}

.pricing-column2 {
  img {
    width: 200px;
    border-radius: 15px;
    margin: 0 25px;
  }
}

.img-hover:hover {
  opacity: 0.5;
}

.pricing-column3 {
  margin: 20px;
  grid-area: walks;
}

.pricing-column3 {
  img {
    width: 220px;
    border-radius: 15px;
  }
}

.pricing-column4 {
  margin: 20px;
  grid-area: drop-in;
}

.pricing-column4 {
  img {
    width: 230px;
    border-radius: 15px;
    margin-top: 20px;
  }
}

/* si mi dispositivo tiene 700 o  menos ...*/
@media (max-width: 700px) {
  .grid-padre {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
}