main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin-top: 50px;
  text-align: center;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.carousel-inner {
  h1 {
    text-align: center;
    margin-bottom: 50px;
    padding: 0;

  }
}

main section a {
  color: white;
  text-decoration: none;
}

@media (max-width: 700px) {
  .carousel-inner {
    max-width: fit-content;
  }

  .imagen-carousel {
    width: 400px;
    margin-top: 50px;
  }

  .carousel-inner {
    h1 {

      padding-top: 40px;
      margin-bottom: 0px;
    }
  }

}