main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
  margin-top: 50px;
  text-align: center;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

main section a {
  color: white;
  text-decoration: none;
}

.grid-padre {
  background-color: rgb(253, 247, 240);
  text-align: center;
  padding: 10px;
  display: grid;
  margin:auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "daycare overnight walks" 
    ". drop-in .";
     /*VER ESTO DE FLEX CON GRID
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px; 
   */
  } 
  
.pricing-column1 {
    margin: 30px;
    border: solid;
    border-radius: 10px;
    background-color: rgb(132, 132, 211);
    grid-area: daycare;
  }
.pricing-column1 img{
   width: 280px;
  }

.pricing-column2 {
   margin: 30px;
   border: solid;
   border-radius: 10px;
   background-color: violet ;
   grid-area: overnight;
  }

.pricing-column2 img{
   width: 280px;
  }

.pricing-column3 {
   margin: 30px;
   border: solid;
   border-radius: 10px;
   background-color: pink;
   grid-area: walks;
  }

  .pricing-column3 img{
   width: 280px;
  }

.pricing-column4 {
   margin: 30px;
   border: solid;
   border-radius: 10px;
   background-color: lightblue;
   grid-area: drop-in;
  }

  .pricing-column4 img{
   width: 255px;
  }

  @media (max-width: 700px) {
    .carousel-inner {
      max-width: fit-content;
    }
    .imagen-carousel{
      width: 400px;
      margin-top: 50px;
    }
  }