* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    padding-top: 50px;
    color: #5585AD;
    font-family: 'Merriweather Sans', sans-serif;
}

h3 {
    text-decoration: underline;
    padding: 10px;
    font-family: 'Merriweather Sans', sans-serif;
}