* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

.formulario {
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.segundo {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

h1 {
    padding-top: 50px;
    color: #5585AD;
    font-size: 35px;
    font-family: 'Merriweather Sans', sans-serif;
}

h2 {
    
    padding: 10px;
    font-size: 30px;
    opacity: 0.9;
    font-family: 'Merriweather Sans', sans-serif;
}

